footer.text-center.text-lg-start.bg-body-tertiary.text-muted
        section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
            .me-5.d-none.d-lg-block
        section
            .container.text-center.text-md-start.mt-5
                .row.mt-3
                    .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
                        h6.text-uppercase.fw-bold.mb-4
                            | Le Khanh Toan
                        p Dear Phuong Anh, this website was created especially for you

                    .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
                        h6.text-uppercase.fw-bold.mb-4 Products
                        p
                            a(href="#!" class="text-reset") Express
                        p
                            a(href="#!" class="text-reset") Pug
                        p
                            a(href="#!" class="text-reset") GraphQL
                        p
                            a(href="#!" class="text-reset") Boostrap

                    .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
                        h6.text-uppercase.fw-bold.mb-4 Data
                        p
                            a(href="#!" class="text-reset") Selenium
                        p
                            a(href="#!" class="text-reset") Atlas MongoDB
                        p
                            a(href="#!" class="text-reset") Python

                    .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
                        h6.text-uppercase.fw-bold.mb-4 Contact
                        p
                            i.fas.fa-home.me-3
                            | Ha Noi, Viet Nam
                        p
                            i.fas.fa-envelope.me-3
                            | toanxm1509@gmail.com
                        p
                            i.fas.fa-phone.me-3
                            | 0343 1509 04

        .text-center.p-4(style="background-color: rgba(0, 0, 0, 0.05);")
            | © 2024 Copyright:
            a.fw-bold(href="https://www.facebook.com/LeKhanhToan1509") Le Khanh Toan


        
                        
                