link(rel="stylesheet", href="stylesheets/header.css")
header.navbar
    .navbar-brand
        a(href = '/')
            img(src='https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg', alt='Your Logo')
    nav.navbar-nav
        ul.nav-list
            li.nav-item
                a(href = '/')
                    i.fa-solid.fa-house
            li.nav-item
                a(href = '/watch')
                    i.fa-solid.fa-film
            li.nav-item
                a.nav-link(href='/series') Series
            li.nav-item
                button.nav-link() |
            if user
                li.btn.nav-item
                    i.fa-solid.fa-right-from-bracket.logout
            else 
                li.btn.nav-item
                    a.nav-link(href='/account/login') Login

        form.d-none.logoutForm(method="POST" action = "/account/logout")
    script(src="/js/header.js") 